.popup__save-button {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    text-align: center;
    color: white;
    border: none;
    outline: none;
    background-color: black;
    border-radius: 2px;
    cursor: pointer;
    height: 50px;
    width: 358px;
    padding: 0;
    margin: 14px 0 0;
}

.popup__save-button:hover {
    background-color: rgba(0, 0, 0, .8);
}

@media (max-width: 845px) {
    .popup__save-button {
            font-size: 14px;
            line-height: 16.94px;   
            height: 46px;
            width: 238px;
            margin: 14px 0 14px;
        }
}